body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(216, 215, 213, 0.821);
}

.topNavContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
}
.topNavListContainer {
    display: flex;
    margin-right: 50px;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 20px;
}

.langDropListContent {
    display: none;
    background-color: rgb(255, 255, 255);
}

.langList:hover .langDropListContent {
    display: block;
    position: absolute;
}

.langDropListContent a {
    display: block;
    padding: 15px;
}

.currencyDropListContent {
    display: none;
    background-color: rgb(255, 255, 255);
}

.currencyList:hover .currencyDropListContent {
    display: block;
    position: absolute;
}

.currencyDropListContent a {
    display: block;
    padding: 15px;
}

.accDropListContent {
    display: none;
    background-color: rgb(255, 255, 255);
}

.accList:hover .accDropListContent {
    display: block;
    position: absolute;
}
.accDropListContent a {
    display: block;
    padding: 15px;

}
.topNavContainer .langListbtn {

    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
}
.topNavContainer .currencyListbtn {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
}
.topNavContainer .accListbtn {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 5px;
}
.topNavLinks {
    margin-left: 50px;
}
.topNavLinks>a {
    color: gray;
    text-decoration: none;
    padding: 5px;
}
.topNavLinks>a:hover {
    color: rgb(0, 0, 0);
}
.logoContainer {

    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.logoContainer>.imgContainer {
    padding-left: 30px;
}
.searchContainer {
    font-size: 17px;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(189, 185, 185);
    padding: 2px;
}
.searchContainer .searchBar {
    width: 500px;
    height: 25px;
    border: none;
}
.searchContainer>button {
    border: none;
    margin-left: 2px;
}
.contact-container {
    text-align: center;
    margin-right: 3%;
    font-family: 'Open Sans', sans-serif;
}
.contact-container>label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.contact-container .phonecontainer {
    font-weight: bolder;
    font-size: 20px;
}
.BtmnavContainer {

    height: 64px;
    padding-inline: 50px;
    background-color: rgb(61,70,77);
    overflow: hidden;
    display: flex;
    align-items: center;
}
.emotions {
    display: flex;
    gap: 20px;
}
.emotions>i {
    cursor: pointer;
}
.BtmnavContainer .categories {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(247, 186, 34);
}
.y-color {
    color: rgb(247, 186, 34);
}
.W-color {
    color: white;
}
.middleLinks {
    display: flex;
    gap: 10px;
    width: 30%;
    font-weight: bold;
    margin-right: auto;
}
.BtmnavContainer .middleLinks a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.categoriesbtn {
    border: none;
    background-color: rgb(247, 186, 34);
    font-size: 20px;
    position: relative;
}
.catgDropListContent {
    display: none;
    background-color: rgb(247, 186, 34);
}
.categories:hover .catgDropListContent {
    display: block;
    position: absolute;
    transform: translate(0px, 100px);
    width: 300px;
}
.catgDropListContent a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.pageDropListContent {
    display: none;
    background-color: rgb(247, 186, 34);
    transform: translate(0px, 10px);
}
.pageDropList:hover .pageDropListContent {
    display: block;
    position: absolute;
}
.pageDropListContent a {
    display: block;
    padding: 15px;
}

/* -----------------Body----------------- */

.topSectioncontainer {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2%;
    

}
.leftSecContainer {
    width: 1080px;
    height: 500px;
    background-color: blueviolet;
    background-image: url(./Images/Women_fashion.jpg);
    background-repeat: no-repeat;
    background-position: center ;

}
.rightSecContainer{
    
}
.rightSecTop {
    background-image: url(./Images/top_Sec.jpg);
    width: 512px;
    height: 250px;
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-position: center ;
    
}
.rightSecBottom {
    width: 512px;
    height: 250px;
    background-image: url(./Images/Bottom_Sec.jpg);
    
    background-color: rgb(43, 226, 171);
    background-repeat: no-repeat;
    background-position: center ;
    

}
.bottomContainer {

  display: flex ;
  justify-content: space-evenly;
  padding: 10px;
}
.btmStyle{
    margin-top: 20px;
    width: 300px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
.btmStyle i{
    color: rgb(247, 186, 34);
}
